<div class="container">

	<notifications></notifications>

	<myform submit="form.$valid && addEvent(what, where, when)">
		<myinput caption="What?" model="what"></myinput>
		<myinput caption="Where?" model="where"></myinput>
		<myinput caption="When?" model="when"></myinput>

		<button type="submit">Add Event</button>

		<span ng-show="form.$invalid && !form.$pristine">Please address the above errors</span>
	</myform>

	<form name="form" class="form-inline" novalidate ng-submit="form.$valid && addEvent(what, where, when)">
		<myinput caption="What?" model="what"></myinput>
		<myinput caption="Where?" model="where"></myinput>
		<myinput caption="When?" model="when"></myinput>

		<button type="submit">Add Event</button>

		<span ng-show="form.$invalid && !form.$pristine">Please address the above errors</span>
	</form>

	<label>What?</label>
	<input ng-model="what" required />

	<label>Where?</label>
	<input ng-model="where" required />
	
	<label>When?</label>
	<input ng-model="when" required />

	<button type="submit">Add Event</button>

	<span ng-show="form.$invalid && !form.$pristine">Please address the above errors</span>

	<div class="form-group">
		<input ng-model="search" type="search" class="form-control" placeholder="Search...">
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>id</th>
				<th><a href="" ng-click="predicate='what';reverse=!reverse">What</a></th>
				<th><a href="" ng-click="predicate='where';reverse=!reverse">Where</a></th>
				<th><a href="" ng-click="predicate='when';reverse=!reverse">When</a></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="event in events | filter:search | orderBy:predicate:reverse">
				<td>{{event.event_id}}</td>
				<td>{{event.what}}</td>
				<td>{{event.where}}</td>
				<td>{{event.when}}</td>
			</tr>
		</tbody>
	</table>

	<ul>
		<li ng-repeat="event in events">{{event.what}} {{event.where}} {{event.when}}</li>
	</ul>


</div>